<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.module.home">

    <application>
        <activity android:name=".activity.RemindSetActivity" />
        <activity android:name=".activity.RingActivity" />
        <activity android:name=".activity.ManagerInfoActivity" />
    </application>

</manifest>