<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.module.my">

    <application>
        <activity
            android:name=".activity.SelectCardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SafeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FollowActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayRecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BillActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayResultActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDiamondActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemMessageActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonInfoActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>