<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.module.my">

    <application>
        <activity android:name=".activity.FollowActivity"></activity>
        <activity android:name=".activity.WithdrawActivity" />
        <activity android:name=".activity.WithdrawDetailActivity" />
        <activity android:name=".activity.PayRecordActivity" />
        <activity android:name=".activity.BillActivity" />
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.PayResultActivity" />
        <activity android:name=".activity.MyDiamondActivity" />
        <activity android:name=".activity.SystemMessageActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.PersonInfoActivity" />
    </application>

</manifest>