<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.module.main">

    <application>
        <activity android:name=".activity.SelectTypeActivity" />
        <activity android:name=".activity.TaRemindActivity" />
        <activity android:name=".activity.MyRemindActivity" />
        <activity android:name=".activity.SelectTargetActivity" />
        <activity android:name=".activity.LoginWxActivity" />
        <activity android:name=".activity.LoginCodeActivity" />
        <activity android:name=".activity.LoginPhoneActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main 首页 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>